<h1>Hiiiiiiiiiii!</h1>
<h4>MyObservable:</h4>
<button (click)="clickObs()">Click</button>
<hr>
<h4>MyOperator:</h4>
<button (click)="clickOpt()">Click</button>
<hr>
<h4>MyOperator: myCombineLatest</h4>
<button (click)="clickOptCombineLates()">Click</button>
<hr>
<h4>MyOperator: myFilter</h4>
<button (click)="clickOptFilter()">Click</button>
<hr>
<h4>MyOperator: myInterval</h4>
<button (click)="clickOptInterval()">Click</button>
<hr>
<h4>MyOperator: myMap</h4>
<button (click)="clickOptMap()">Click</button>
<hr>
<h4>MyOperator: myMerge</h4>
<button (click)="clickOptMerge()">Click</button>
<hr>
<h4>MyOperator: myMergeMap</h4>
<button (click)="clickOptMergeMap()">Click</button>