.head {
  text-align: center;
}

.card {
  margin: 10px auto;
  width: 300px;
  border-style: solid;
  border-width: 5px;
  padding: 15px;
}

.red {
  border-color: red;
  color: red;
}

.yellow {
  border-color: yellow;
  color: yellow;
}

.blue {
  border-color: blue;
  color: blue;
}
